{% extends "blog/base.html" %}
{% block content %}
<form action="./result" method="POST">
  <div style="text-align: center"><h1><b>TOPIC</b>:{{score}}</h1></div>
  {% for que in quizs%}
  <div class="container" style="border-bottom
  :2px solid black;border-radius: 20px;margin-top:2%;">
    <div class="col-md-10">
      <h3>{{ forloop.counter }}. {{ que.question }}</h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h4>
      <input type="radio" name="{{ que.id }}" value="{{ que.option1 }}">
      {{ que.option1 }}
    </h4>
    </div>
    <div class="col-md-3">
      <h4>
      <input type="radio" name="{{ que.id }}" value="{{ que.option2 }}">
      {{ que.option2 }}
    </h4>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h4>
      <input type="radio" name="{{ que.id }}" value="{{ que.option3 }}">
      {{ que.option3 }}
    </h4>
    </div>
    <div class="col-md-3">
      <h4>
      <input class="form_control" type="radio" name="{{ que.id }}" value="{{ que.option4 }}">
      {{ que.option4 }}
    </h4>
    </div>
    </div>
  <div class="py-3"></div>
  {% endfor %}
  {% csrf_token %}
  <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-xs-2">
      <button type="submit" class="btn btn-block btn-success btn-md">Result</button>
    </div>
  </div>
</form>
{% endblock content %}
