{% extends "blog/base.html" %}
{% block content %}
<br>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <h2> Add question</h2>
<form action="./Uploaded" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Enter the Question</label>
        <input type="Text" class="form-control" id="exampleInputText1" name="Question" required>
      </div>
      <div class="row">
      <div class="col-sm-4">
        <label for="exampleInputText1" class="form-label">Enter First option.</label>
        <input type="Text" class="form-control" id="exampleInputText1" name="option" required>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <label for="exampleInputText1" class="form-label">Enter second option.</label>
        <input type="Text" class="form-control" id="exampleInputText1" name="option1" required>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        <label for="exampleInputText1" class="form-label">Enter Third option.</label>
        <input type="Text" class="form-control" id="exampleInputText1" name="option2" required>
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <label for="exampleInputText1" class="form-label">Enter Fourth option.</label>
        <input type="Text" class="form-control" id="exampleInputText1" name="option3" required> 
      </div>
    </div>
    <br>
      <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Enter Answer.</label>
        <input type="Text" class="form-control" id="exampleInputText1" name="Answer" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputText1" class="form-label">Enter Question Category.</label>
        <input type="Text" class="form-control" id="exampleInputText1" name="Category" required>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
      <div class="col-sm-4" style="text-align:center">
      <button type="submit" class="btn btn-outline-info">Upload</button>
    </div>
  </div>
    <br>
    <br>
</form>
</div>
</div>
{% endblock content %}
