{% extends "blog/base.html" %}
{% block content %}
<h2>Recent topics</h2>
<div class="row" style="text-align:center;">
  {% for que in quizs %}
    <div style="padding:2px;">
    <a  href="{% url 'blog.quiz_page' que.0 %}" style="text-decoration:None;color: black;">
      <div class="card" style="width: 18rem;height:15rem;margin:10px">
        <img class="card-img-top" style="width:285px;height:9rem;" src="/media/{{que.1}}" alt="Card image cap">
        <div class="card-body rounded" style="background-color: rgb(216, 239, 245)">
          <h3 class="card-title">{{que.0|capfirst}}</h3>
        </div>
        </div>
      </a>
    </div>
     {% endfor %}
</div>
<div class="py-5"></div>
{% endblock content %}
