{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="py-3"></div>
    <div class="content-section container shadow-lg" style="border-radius:20px;border: 1px solid beige;">
      <div class="row bg-info"><h1 style="color:white;margin-left: 44%;">Profile</h1></div>
      <div class="py-3"></div>
      <div class="row">
      <div class="col-sm-6" >
          <div>
         <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="width:200px;height:200px;border:2px solid black">
        </div>
        <br>
         <div>
          <h3>Name:</h3>
          <p style="border:1px solid black;border-radius:5px;padding:5px;">{{ user.username }}</p>
          <h3>Email ID:</h3>
          <p style="border:1px solid black;border-radius:5px;padding:5px;">{{ user.email }}</p>
        </div>
         </div>
         <div class="col-sm-6">
      <form method="POST" action="" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4"><b>Update Info</b></legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
    </div>
    </div>
    <div class="py-3"></div>
    <div class="container" id="Attempt">
        <h1>My Recent Attempts</h1>
        {% ifequal length 0 %}
        <h5>Quiz not attempted yet.</h5>
        {% else %}
        <table class="table">
            <thead class="thead bg-info text-light">
              <tr>
                <th scope="col">Attempt no.</th>
                <th scope="col">Quiz Name</th>
                <th scope="col">Total question</th>
                <th scope="col">Attempted</th>
                <th scope="col">Correct</th>
                <th scope="col">Accuracy</th>
                <th scope="col">Result</th>
              </tr>
            </thead>
            <tbody >
                {% for i in attempts%}
                {% if i.accuracy >= 50.0 %}
                <tr style="background-color: rgb(216, 239, 245)">
                    <th scope="row">{{i.attemptId}}</th>
                    <td>{{i.q_name}}</td>
                    <td>{{i.totalQue}}</td>
                    <td>{{i.attemptedQue}}</td>
                    <td>{{i.correct}}</td>
                    <td>{{i.accuracy}}</td>
                    <td class="text-success">Passed</td>
                  </tr>
                  {% else %}
                  <tr style="background-color: rgb(216, 239, 245)">
                    <th scope="row">{{i.attemptId}}</th>
                    <td>{{i.q_name}}</td>
                    <td>{{i.totalQue}}</td>
                    <td>{{i.attemptedQue}}</td>
                    <td>{{i.correct}}</td>
                    <td>{{i.accuracy}}</td>
                    <td class="text-danger">Failed</td>
                  </tr>
                  {% endif  %}
                {% endfor %}
            </tbody>
          </table>
          {% endifequal %}
    </div>
    <div class="py-3"></div>
{% endblock content %}